body {
  background-image: url('/shoppingcart.png');
}

.likegrocery {
  background-image: url('/hand-157251_640.png');
}

.likeface{
  background-image: url('/likeButton.png');
}

@media screen and (min-width: 10em) {
    .f-headline-l {
        font-size: 6rem;
    }

}


#login-buttons {
  display: block;
}

.fontColor{
    color: #047d12;
}

.photoLayout {
    color: rgb(255, 255, 255);
    background-color: rgb(188, 188, 188);
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 8px;
    left: 16px;
    
}


.loginbox{
  background-color:  #EDEDED;
  /*//display: block;*/
  font-size: 16px;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition-property: all;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0ms;
  margin-left: 0px;
  line-height: 16px;
  padding: 35px 36px 35px 95px;
}



.new-task input:focus{
  outline: 0;
}


section {
  background: white;
}



.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}




/*tachyons*/
.f6 {
    font-size: .875rem;
}
.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

.green-80 {
    color: rgb(4, 125, 18);
}

.bgbutton-green {
    background-color: rgb(4, 125, 18);
}

.bg-blackheader{
    background-color: rgba( 0, 0, 0, .85 );
}